#root {
  width: 58%;
  margin: auto;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.display-container {
  background-color: rgb(128, 125, 134);
  display: flex;
  justify-content: flex-end;
  color: #fff;
  margin: 0;
  padding: 0;
}

.display-container p {
  margin-right: 20px;
  padding: 0;
}

.btnPanel-container {
  margin: 0;
  width: 100%;
  font-size: 23px;
}

.btns-row {
  display: flex;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  color: #000;
  border: 1px solid rgb(204, 203, 204);
  padding: 13px 0;
}

.grey {
  background-color: rgb(231, 223, 223);
}

.orange {
  background-color: orange;
}

.normal {
  width: 25%;
}

.large {
  width: 50.2%;
}
