@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;800&display=swap');

body {
  margin: 0;
  font-family: 'Lexend', Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(#3579b9, #528ec7, #5f8db9, #759abd, #89aac9);
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.first-div {
  padding: 10px 25px;
  height: 100vh;
}

.home-h2,
.calc-h2,
.quote-h2 {
  font-size: 35px;
  margin-top: 0;
}

.quote-h2 {
  width: 65%;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  margin: 150px auto;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
}

.header-icon {
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}

.fa-hat-wizard {
  font-size: 40px;
  transform: rotate(20deg);
  margin-bottom: 50px;
  margin-right: 13px;
}

.nav-ul {
  width: 370px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 20px;
  margin-right: 30px;
}

.nav-ul li {
  margin-left: 7px;
  padding-left: 0;
}

.li-calc {
  font-weight: 600;
}

.li-separator {
  padding-right: 10px;
  border-right: 1px solid #fff;
}

.home-div {
  margin-top: 30px;
  margin-left: 15px;
}

.home-div p {
  width: 95%;
  margin-top: 60px;
  font-size: 22px;
  font-stretch: extra-expanded;
}

.calc-first-div {
  height: auto;
  border: 2px solid black;
}

.calc-div {
  margin-top: 30px;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
}

.calc-container {
  width: 700px;
  margin: auto;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 7px solid #fff;
  border-bottom: none;
}

.display-container {
  background-color: rgb(128, 125, 134);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100px;
}

.display-container p {
  width: 93%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-right: 25px;
  padding: 0;
  font-size: 41px;
}

.btnPanel-container {
  margin: 0;
  border: 7px solid #fff;
  border-top: none;
}

.btns-row {
  display: flex;
  width: 100%;
  height: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  color: #000;
  border: 1px solid rgb(204, 203, 204);
  padding: 35px 0;
  font-size: 23px;
}

.button-container:hover {
  cursor: pointer;
}

.grey {
  background-color: rgb(231, 223, 223);
}

.grey:hover {
  background-color: rgb(199, 194, 194);
}

.orange {
  background-color: orange;
}

.orange:hover {
  background-color: rgb(221, 147, 9);
}

.normal {
  width: 25%;
}

.large {
  width: 50%;
}
